@mixin _sst_checkbox(){

    ._sst_checkbox {
        float: left;
        width: 100%;
        position: relative;
        cursor: pointer;
    
        input[type="checkbox"] {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;

            &:checked ~ ._btn{                
                background-color: #FF5500;
                border: solid 1px #c54200;
                box-shadow: inset 0 0 3px rgba($color: #000000, $alpha: 0.5);

                &::after{
                    display: block;
                }
            }
            &:checked ~ span{                
                font-weight: 600;
            }
        }

        ._btn{
            float: left;
            width: 18px;
            height: 18px;
            background-color: lightgray;
            border: solid 1px darkgray;
            border-radius: 3px;
            position: relative;

            &::after{
                content: "\2713";
                position: absolute;
                display: none;
                color: #FFFFFF;
                font-size: 13px;
                font-weight: bold;
                top: -1px;
                left: 3px;

            }
        }

        span{                                            
            float: left;
            font: {
                size: 13px;
                weight: 400;
                family: $font;
            }
            color: #000;
            margin: {
                left: 7px;
                top: 2px;
            }
            text-transform: uppercase;
            user-select: none;
        }
    }    

    @content;
}